@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        You have a new Registration at Sambari Enterprises.
        Email : @Model.Email <br />
        Pharmacy Name : @Model.PharmacyName <br />
        Owner Name : @Model.OwnerName <br />
        Contact Person Name : @Model.ContactPersonName <br />
        Address : @Model.Address <br />
        Mobile Number : @Model.MobileNumber <br />
        Drug Licence Number : @Model.DrugLicenceNumber <br />
        Tin Number : @Model.TinNumber <br />
        Gst Registration Number : @Model.GstRegistrationNumber <br />

        To generate username and password <a href="#">Click here</a>

    </div>
</body>
</html>
