@model SambariEnterprises.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Member Details</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="ibox-content">
            <div class="table-responsive">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        @using (Html.BeginForm("Edit", "Members", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "register" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.MemberRegistrationID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PinCode, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.PinCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PinCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerPhone, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Constitution, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(model => model.Constitution, "proprietorship", new { htmlAttributes = new { @class = "form-control" } }) Proprietorship
                                    @Html.RadioButtonFor(model => model.Constitution, "partnership", new { htmlAttributes = new { @class = "form-control" } }) Partnership
                                    @Html.RadioButtonFor(model => model.Constitution, "company", new { htmlAttributes = new { @class = "form-control" } }) Company
                                    <br />@Html.ValidationMessageFor(model => model.Constitution, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.AuthorizedPersonName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.AuthorizedPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AuthorizedPersonName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MobileNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DrugLicenceNumber1, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    <!-- 20B -->
                                    <div class="row">
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceNumber1, new { htmlAttributes = new { @class = "form-control", placeholder = "20B" } })
                                        </div>
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceExpiry1, new { htmlAttributes = new { @class = "form-control", placeholder = "Expiry" } })
                                        </div>
                                    </div>

                                    <!-- 21B -->
                                    <div class="row">
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceNumber2, new { htmlAttributes = new { @class = "form-control", placeholder = "21B" } })
                                        </div>
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceExpiry2, new { htmlAttributes = new { @class = "form-control", placeholder = "Expiry" } })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceNumber3, new { htmlAttributes = new { @class = "form-control", placeholder = "Others" } })
                                        </div>
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceExpiry3, new { htmlAttributes = new { @class = "form-control", placeholder = "Expiry" } })
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceNumber4, new { htmlAttributes = new { @class = "form-control", placeholder = "Others" } })
                                        </div>
                                        <div class="col-sm-6 m-b-15">
                                            @Html.EditorFor(model => model.DrugLicenceExpiry4, new { htmlAttributes = new { @class = "form-control", placeholder = "Expiry" } })
                                        </div>
                                    </div>@Html.ValidationMessageFor(model => model.DrugLicenceNumber1, "", new { @class = "text-danger", id = "ValidationMessageForDrugLicenceNumber" })
                                </div>
                            </div>

                            <div class="form-group" id="TinNumber">
                                @Html.LabelFor(model => model.TinNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.TinNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TinNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <h4>GST Details</h4>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPersonName, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPersonMobileNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ContactPersonMobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactPersonMobileNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ContactPersonEmail, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ContactPersonEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ContactPersonEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HasGstRegistrationNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(model => model.HasGstRegistrationNumber, "true", new { htmlAttributes = new { @class = "form-control" } }) Yes
                                    @Html.RadioButtonFor(model => model.HasGstRegistrationNumber, "false", new { htmlAttributes = new { @class = "form-control" } }) No
                                    @Html.ValidationMessageFor(model => model.HasGstRegistrationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="GstRegistration" style="display:none">
                                @Html.LabelFor(model => model.GstRegistrationNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.GstRegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.GstRegistrationNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group" id="ApplicationReferenceNumber" style="display:none">
                                @Html.LabelFor(model => model.ApplicationReferenceNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.ApplicationReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ApplicationReferenceNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PanNumber, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.PanNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PanNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*<div class="form-group" id="acknowledgement" style="display:none">
                                @Html.LabelFor(model => model.GSTAcknowledgement, new { @class = "col-sm-4 control-label" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.GSTAcknowledgement, new { type = "file" })
                                    @Html.ValidationMessageFor(model => model.GSTAcknowledgement, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary block m-b" id="Register">Submit</button>
                                <p class="text-right">
                                    <a href="@Url.Action("Login", "Home")">Back To Login</a>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        }
        <script src="~/Scripts/bootstrap-datepicker.js"></script>
        <script>
            $(document).ready(function () {

                if ($("input[id='HasGstRegistrationNumber']:checked").val() == 'true') {
                    $("#GstRegistration, #ApplicationReferenceNumber, #acknowledgement, #acceptance").show();
                    //$("#acceptance").hide();
                } else {
                    $("#GstRegistration, #ApplicationReferenceNumber, #acknowledgement, #acceptance").hide();
                    //$("#acceptance").show();
                }

                $('#DrugLicenceExpiry1').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                });

                $('#DrugLicenceExpiry2').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                });

                $('#DrugLicenceExpiry3').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                });

                $('#DrugLicenceExpiry4').datepicker({
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    calendarWeeks: true,
                    autoclose: true,
                    format: 'dd/mm/yyyy'
                });

                $('input[type="radio"]').click(function () {
                    var selectedRadio = $(this).val();
                    if (selectedRadio == 'true') {
                        $("#GstRegistration, #ApplicationReferenceNumber, #acknowledgement, #acceptance").show();
                        $("#acceptance").hide();
                    } else {
                        $("#GstRegistration, #ApplicationReferenceNumber, #acknowledgement, #acceptance").hide();
                        $("#acceptance").show();
                    }
                });
            });
        </script>
